<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main"> 
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <div id="index">
    <p style="text-align:justify;font-size:120%;text-indent:0;margin-bottom:2.5em;">
      O Google I/O é a famosa convenção técnica do Google que acontece na
      Califórnia, EUA, e é transmitida para mais de 140 países.  Desenvolvedores
      e empreendedores de base tecnológica do mundo todo se reúnem para acompanhar
      as transmissões em extensões locais do evento que são combinadas com atividades
      colaterais de interesse específico, os <q>Google I/O Extended</q>.
    </p>
    <p style="text-align:justify;font-size:120%;text-indent:0;margin-bottom:2.5em;">
      Neste ano, o evento Google I/O Extended ocorrerá também em Belém,
      organizado pelo Grupo de Desenvolvedores Google local (<a href="https://plus.google.com/u/0/b/104454903082510408559/104454903082510408559/about">GDG Belém</a>)
      em parceria com empresas da região e profissionais e entusiastas de tecnologia.
      Além da transmissão da principal palestra do evento principal em
      primeira-mão via Internet diretamente do local do evento, o Google I/O
      Extended Belém contará com palestras exclusivas, discussões de assuntos
      de interesse da comunidade, troca de experiências, networking e feedback
      especializado com intuito do engrandecimento da comunidade local
      empreendedora do estado.
    </p>
    <p style="text-align:justify;font-size:120%;text-indent:0;margin-bottom:2.5em;">
      Convidamos você a prestigiar mais este evento fazer parte desta grande iniciativa!
    </p>
    <p>
      Equipe GDG Belém.
    </p>
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
  
</body>
</html>
